* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(131, 58, 180);
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
    font-family: 'Nunito', sans-serif;
}

.music-player {
    width: 350px;
    height: 550px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    color: whitesmoke;
}

.music-name,
.artist-name {
    text-align: center;
    text-transform: capitalize;
}

.music-name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 0 10px rgba(252, 176, 69, 1), 0 0 20px rgba(252, 176, 69, 1),
        0 0 40px rgba(252, 176, 69, 1), 0 0 80px rgba(252, 176, 69, 1),
        0 0 160px rgba(252, 176, 69, 1);
}

.artist-name {
    font-size: 20px;
    text-shadow: 0 0 10px rgba(252, 176, 69, 1), 0 0 20px rgba(252, 176, 69, 1),
        0 0 40px rgba(252, 176, 69, 1), 0 0 80px rgba(252, 176, 69, 1),
        0 0 160px rgba(252, 176, 69, 1);
}

.disk {
    position: relative;
    display: block;
    margin: 40px auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url('artists/cesar.jpg');
    background-size: cover;
    box-shadow: 0px 0px 5px 10px rgba(204, 204, 204, 0.61);
    animation: rotate 20s linear infinite;
}

.disk::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgba(253, 29, 29, 1);
}

.song-slider {
    width: 100%;
    position: relative;
}

.seek-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
    cursor: pointer;
    overflow: hidden;
}

.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px rgba(226, 226, 226, 0.548);
}

.current-time,
.song-duration {
    font-size: 14px;
}

.song-duration {
    position: absolute;
    right: 0;
}

.controls {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    border: none;
}

.play-btn span {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background-color: rgba(253, 29, 29, 1);
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
    width: 35%;
    left: 40%;
    transform: translateY(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause {
    animation: pulse 2s linear infinite;
}
@keyframes pulse {
    0% {
        box-shadow: 0;
    }
    50% {
        box-shadow: 0 0 0 5px rgba(204, 204, 204, 0.1);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(204, 204, 204, 0.4);
    }
}

.btn {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: rgba(253, 29, 29, 1);
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
